*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
.python-version
notebooks/

# Airflow
airflow/logs/
airflow/dags/
airflow/plugins/
airflow/config/

# Docker related files
docker-compose.yaml
Dockerfile