# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data
numpy
pandas
pandas_gbq
python-dotenv
google-cloud-bigquery
scikit-learn==1.5.1

# Scrapping
requests
bs4

# tests/linter
black
coverage
flake8
pytest
yapf